@use "mixins";
@use "variables" as v;

html,
body {
  width: 100%;
  font-family: "Times New Roman", Arial, serif;
  margin: 0%;
  padding: 0%;
  overflow-x: hidden;
}

.container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

header {
  width: 100%;
  height: 100vh;
  background-image: v.$bg-image;
  @include mixins.bg;

}

main { 
  width: 100%;

}


.top-nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background: rgba(255, 255, 255, 0.1);
  color: rgb(255, 255, 255);
  padding: 1em;

  &__logo {
    visibility: hidden;
  }
}


.menu {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  margin: 0;
  padding:0;
  overflow-x: hidden;
  background-color: rgba(255, 255, 255, 0.1);
  @include mixins.tablet {
    background-color: unset;
  }

  &__link {
    color: rgb(255, 255, 255);
    font-size: 20px;
    margin: 0 1rem;
    overflow: hidden;
    padding:0%
  }

  &__link:hover {
    text-decoration: underline;
  }

}

a {
  text-decoration: none;
 
}

.menu-button-container {
  display: none;
  height: 100%;
  width: 30px;
  cursor: pointer;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#menu-toggle {
  display: none;
}

.menu-button,
.menu-button::before,
.menu-button::after {
  display: block;
  background-color: #fff;
  position: absolute;
  height: 4px;
  width: 30px;
  transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
  border-radius: 2px;
}

.menu-button::before {
  content: "";
  margin-top: -8px;
}

.menu-button::after {
  content: "";
  margin-top: 8px;
}

#menu-toggle:checked + .menu-button-container .menu-button::before {
  margin-top: 0px;
  transform: rotate(405deg);
}

#menu-toggle:checked + .menu-button-container .menu-button {
  background: rgba(255, 255, 255, 0);
}

#menu-toggle:checked + .menu-button-container .menu-button::after {
  margin-top: 0px;
  transform: rotate(-405deg);
}

@media (max-width: 700px) {
  .menu-button-container {
    display: flex;
  }
  .menu {
    position: absolute;
    top: 0;
    margin-top: 50px;
    left: 0;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
  }
  #menu-toggle ~ .menu li {
    height: 0;
    margin: 0;
    padding: 0;
    border: 0;
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
  }
  #menu-toggle:checked ~ .menu li {
    // border: 1px solid #333;
    height: 2.5em;
    padding: 0.5em;
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
  }
  .menu > li {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0.5em 0;
    width: 100%;
    color: v.$primarycolor;
  
  }

}

.home {
  width: 100%;
  // height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  text-align: center;
  margin-top: 55%;

  &__title {
    font-size: 30px;
    color: v.$primarycolor;
  }

  &__text {
    font-size: 25px;
    width: 310px;
    color: v.$primarycolor;
  }

}

.team__title{
  display: flex;
  justify-content: center;
}

a {
  display: flex;
  justify-content: center;
  

i {
  color: rgb(255, 255, 255);
  display: flex;
  align-items: center;
  position: absolute;
  bottom: 15px;
}
}

.team {
  background-color: rgb(255, 255, 255);
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 10px;

  &__name {
    font-size: 20px;
  }

  &__image {
    width: 200;
    border-radius: 50%;
    box-shadow: 1px 0px 20px rgba(151, 149, 149, 0.8),
      0px 10px 5px rgba(151, 149, 149, 0.1);
  }

  &__box {
    display: flex;
    justify-items: center;
    background-color: lightgrey;
    border-radius: 3%;
    width: 80%;
    margin: 20px;
  
  }


  &__info {
    width: 220px;
    text-align: justify;

  }

  &__icon {
    font-size: 35px;
  }

}


.arrow-two {
  font-size: 20px;
  color: black;
  position: relative; //varför behövs jag? 

}


.footer {
  background-color: rgb(0, 0, 0);
  color: v.$primarycolor;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;


  &__all {
    display: flex;
    flex-direction: column;
    padding: 5%;
    gap: 20%;
   
  }

  &__list {
    list-style: none;
    font-size: 20px;
    display: flex;
    gap: 10%;
  }

  
}

// -----------------------------------------------------här kommer koden för desktop--------------------------------------------------------------------------//

@media (min-width: 768px) {
  
  header {
    padding: 0;
  }

  .home {
    width: 100%;
    // height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    text-align: center;
    margin-top: 12%;
    // padding-top: 40%;
  
    &__title {
      font-size: 30px;
      color: v.$primarycolor;
    }
  
    &__text {
      font-size: 25px;
      width: 500px;
      color: v.$primarycolor;
    }
  }

  .team {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: rgb(255, 255, 255);
    position: relative;

    &__title {
      display: flex;
      flex-direction: row;
      justify-content: center;
    }

    &__rakib{
      display: flex;
      align-items: center;
      flex-direction: column;
      background-color: rgb(255, 255, 255);
      width: 45%;
      gap: 10px;
    }
  }

  .footer {
    flex-direction: row;
    align-items: center;
  
  
    &__all {
      display: flex;
      flex-direction: row;
      gap: 10%;

     
    }
  
    &__list {
      list-style: none;
      font-size: 20px;
      display: flex;
      flex-direction: row;
      width: 500px; // jag ska kunna använda spacearound istället.
      padding: 1%;
      gap: 10px;
    }


}
}