@use "mixins";
@use "variables" as v;
@use "navbar";

.footer {
    background-color: v.$secondarycolor;
    color: v.$primarycolor;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  
    &__all {
      display: flex;
      flex-direction: column;
      padding: 5%;
      gap: 20%;
    }
  
    &__list {
      list-style: none;
      font-size: 20px;
      display: flex;
      gap: 10%;
      padding: 5%;
      display: flex;
      flex-direction: row;
      width: 100%;
    }
  
    @include mixins.tablet {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
  
      &__all {
        display: flex;
        flex-direction: row;
        width: 100%;
        justify-content: center;
      }
  
      &__list {
        display: flex;
        flex-direction: row;
        width: 200%;
      }
    }
  }
  