@mixin bg {
  background-size: 100%;
  background-repeat: no-repeat;
  height: 100vh;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;

}

@mixin lasse {
  background-color: lightgrey;
  width: 70%;
  border-radius: 3%;
  padding: 8%;
  margin: 20px;

}

@mixin tablet {
  @media screen and (min-width: 768px){
    @content;
  }
  
}


