@use "mixins";
@use "variables" as v;
@use "navbar";

html,
body {
  width: 100%;
  font-family: "Times New Roman", Arial, serif;
  margin: 0%;
  padding: 0%;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

.container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

header {
  width: 100%;
  height: 100vh;
  background-image: v.$bg-image;
  @include mixins.bg;

  @include mixins.tablet {
    padding: 0;
  }
}

main {
  width: 100%;
}

.home {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  text-align: center;
  margin-top: 55%;

  &__title {
    font-size: 30px;
    color: v.$primarycolor;
  }

  &__text {
    font-size: 25px;
    width: 310px;
    color: v.$primarycolor;
  }

  @include mixins.tablet {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    text-align: center;
    margin-top: 12%;

    &__title {
      font-size: 30px;
      color: v.$primarycolor;
    }

    &__text {
      font-size: 25px;
      width: 500px;
      color: v.$primarycolor;
    }
  }
}

.team__title {
  display: flex;
  justify-content: center;
}

a {
  display: flex;
  justify-content: center;

  i {
    color: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    position: absolute;
    bottom: 15px;
  }
}

.team {
  background-color: v.$primarycolor;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 10px;

  &__name {
    font-size: 20px;
  }

  &__image {
    width: 200px; //kanske ändra senare
    border-radius: 50%;
    box-shadow: 1px 0px 20px rgba(151, 149, 149, 0.8),
      0px 10px 5px rgba(151, 149, 149, 0.1);
  }

  &__image--lasse {
    @include mixins.img-lasse;
  }

  &__all {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1%;
  }

  &__box-info {
    display: flex;
    background-color: v.$thirdcolor;
    border-radius: 3%;
    width: 100%;
    padding: 10%;
    margin: 10%;
  }

  &__info {
    width: 220px;
    text-align: justify;
  }

  &__icon {
    font-size: 250%;
  }

  @include mixins.tablet {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    position: relative;

    &__title {
      display: flex;
      flex-direction: row;
      justify-content: center;
    }

    &__all {
      display: flex;
      align-items: center;
      flex-direction: column;
      background-color: v.$primarycolor;
      width: 45%;
      gap: 10px;
    }

    &__box-info {
      display: flex;
      justify-content: center;
      background-color: v.$thirdcolor;
      border-radius: 3%;
      width: 75%;
      padding: 10%;
      margin: 10%;
    }
  }
}

.arrow-two {
  font-size: 20px;
  color: v.$secondarycolor;
  position: relative;
}
