@use "mixins";
@use "variables" as v;
@use "navbar";

html,
body {
  width: 100%;
  font-family: "Times New Roman", Arial, serif;
  margin: 0%;
  padding: 0%;
  overflow-x: hidden;
}

.container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

header {
  @include mixins.tablet{
      padding: 0;
  }

  width: 100%;
  height: 100vh;
  background-image: v.$bg-image;
  @include mixins.bg;

}

main { 
  width: 100%;

}

.home {
  @include mixins.tablet {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    text-align: center;
    margin-top: 12%;
   
  
    &__title {
      font-size: 30px;
      color: v.$primarycolor;
    }
  
    &__text {
      font-size: 25px;
      width: 500px;
      color: v.$primarycolor;
    }

  }

  
  
  width: 100%;
  // height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  text-align: center;
  margin-top: 55%;

  &__title {
    font-size: 30px;
    color: v.$primarycolor;
  }

  &__text {
    font-size: 25px;
    width: 310px;
    color: v.$primarycolor;
  }

}

.team__title{
  display: flex;
  justify-content: center;
}

a {
  display: flex;
  justify-content: center;
  

i {
  color: rgb(255, 255, 255);
  display: flex;
  align-items: center;
  position: absolute;
  bottom: 15px;
}
}

.team {
  @include mixins.tablet {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: rgb(255, 255, 255);
    position: relative;

    &__title {
      display: flex;
      flex-direction: row;
      justify-content: center;
    }

    &__rakib{
      display: flex;
      align-items: center;
      flex-direction: column;
      background-color: rgb(255, 255, 255);
      width: 45%;
      gap: 10px;
    }
  }
  background-color: rgb(255, 255, 255);
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 10px;

  &__name {
    font-size: 20px;
  }

  &__image {
    width: 200;
    border-radius: 50%;
    box-shadow: 1px 0px 20px rgba(151, 149, 149, 0.8),
      0px 10px 5px rgba(151, 149, 149, 0.1);
  }

  &__box {
    display: flex;
    justify-items: center;
    background-color: lightgrey;
    border-radius: 3%;
    width: 80%;
    margin: 20px;
  
  }


  &__info {
    width: 220px;
    text-align: justify;

  }

  &__icon {
    font-size: 250%;
  }

}


.arrow-two {
  font-size: 20px;
  color: black;
  position: relative; //varför behövs jag? 

}


.footer {
  @include mixins.tablet{
    background-color: blue;
  }

  background-color: rgb(0, 0, 0);
  color: v.$primarycolor;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;


  &__all {
    display: flex;
    flex-direction: column;
    padding: 5%;
    gap: 20%;
   
  }

  &__list {
    list-style: none;
    font-size: 20px;
    display: flex;
    gap: 10%;
    padding: 5%;
  }
  
}

//Här kommer alla mediaquerys för desktop-----------------------------

